.box-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.class-solo {
    background-color: yellow;
    color:black;
}


.class-directives {
    background-color: pink;
    color:black;
}