<h1>Formulario de cadastro</h1>

<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
  <input placeholder="CEP" formControlName="cep" type="text" />
  <input formControlName="street" type="text" placeholder="Rua" />
  <input placeholder="Número" formControlName="number" type="text" />
  <input placeholder="Complemento" formControlName="complement" type="text" />
  <input placeholder="Bairro" formControlName="neighborhood" type="text" />
  <input placeholder="Cidade" formControlName="city" type="text" />
  <input placeholder="Estado" formControlName="state" type="text" />

  <button type="submit" contained [disabled]="addressForm.invalid">
    Salvar
  </button>
</form>
